body{
	background-color: rgb(241,241,241);
}
#container, table{
	width: 800px; /* Ширина слоя */
    margin: 0 auto 30px; /* Выравнивание по центру */
	padding: 15px;
	margin-top: 30px;
	background-color: white;
	text-align:center;
}

#pub{
	margin-bottom: 20px;
	text-align: justify;
	text-indent: 20px;
}

img{
	width: 800px;
	margin-bottom: 10px;
}
#source {
	text-align: right;
}

#source a {
	color: #92908c;
}